<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DownloadAttachmentServlet</servlet-name>
        <servlet-class>org.o7planning.servletexamples.DownloadAttachmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadToDBResultsServlet</servlet-name>
        <servlet-class>org.o7planning.servletexamples.UploadToDBResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadToDBServlet</servlet-name>
        <servlet-class>org.o7planning.servletexamples.UploadToDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginController</servlet-name>
        <servlet-class>com.admin.controller.adminLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HodLoginController</servlet-name>
        <servlet-class>com.controller.HodLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HodRegisterController</servlet-name>
        <servlet-class>com.controller.HodRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyLoginController</servlet-name>
        <servlet-class>com.controller.FacultyLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyRegisterController</servlet-name>
        <servlet-class>com.controller.FacultyRegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginController</servlet-name>
        <servlet-class>com.controller.AdminLoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadAttachmentServlet</servlet-name>
        <url-pattern>/DownloadAttachmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadToDBResultsServlet</servlet-name>
        <url-pattern>/UploadToDBResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadToDBServlet</servlet-name>
        <url-pattern>/UploadToDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginController</servlet-name>
        <url-pattern>/adminLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HodLoginController</servlet-name>
        <url-pattern>/HodLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HodRegisterController</servlet-name>
        <url-pattern>/HodRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyLoginController</servlet-name>
        <url-pattern>/FacultyLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyRegisterController</servlet-name>
        <url-pattern>/FacultyRegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginController</servlet-name>
        <url-pattern>/AdminLoginController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
