body{
    margin: 0;
    padding: 0;
}
table,tr,td,th{
    padding:10px;
    text-align: center;
    border:solid;
    border-collapse: collapse;
    border-color: midnightblue;
   
}
#trisha1{
    font-weight: bolder;
    margin-top:-2%;
    
}


